﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link href="~/manifest.json" rel="manifest" />
    <link rel="icon" href="~/images/icons8-Chat-96.png" />
    <title>VironIT Chat</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    @RenderBody()

    <environment names="Development">
        <script src="~/scripts/Models/chat.js"></script>
        <script src="~/scripts/Models/me.js"></script>
        <script src="~/scripts/utilities.js"></script>
        <script src="~/scripts/messages.js"></script>
        <script src="~/scripts/main.js"></script>
        <script src="~/scripts/default.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/scripts/Models/chat.js"></script>
        <script src="~/scripts/Models/me.js"></script>
        <script src="~/scripts/utilities.js"></script>
        <script src="~/scripts/messages.js"></script>
        <script src="~/scripts/main.js"></script>
        <script src="~/scripts/default.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
